.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin: 40px 0px 47px 0px;
}

.cards-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.card {
    width: 130px;
    height: 159px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card img {
    width: 100px;
}

.timer {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin-top: 80px;    
}

.hidden {
    display: none;
}

.flip {
    transform: rotateY(180deg);
}

@media (max-width: 500px) {
    .title {
        font-size: 30px;
        text-align: center;
    }

    .cards-container {
        flex-direction: column;
    }
}